




a { text-decoration: none; }




nav { background:#2980B9;
		margin:auto;
		

		
		}

nav ul {

  
  margin: 0;
  padding: 0;
}

nav ul li {
	text-align:left;
  font-size: 12px;
  display: inline-block;
  
  
}

nav ul li a {
  color: #fff;
  display: block;
 
  padding: 15px 14px;
  transition: 0.3s linear;
}

nav ul li a:hover {color:#F1C40F  ;}

nav ul li ul {
  border-bottom: 5px solid #2ba0db;
  border-left:1px solid;
  border-right:1px solid;
  display: none;
  position: absolute;
  width: 250px;
}

nav ul li ul li {
  border-top: 1px solid #444;
  display: block;
  
}

nav ul li ul li:first-child { border-top: none; }

nav ul li ul li a {
  background: white;
  color:black;
  display: block;
  padding: 10px 14px;
}

nav ul li ul li a:hover { background: #126d9b; color:white; }

nav .fa.fa-angle-down { margin-left: 6px; }